#wizard {
    background-image: url(:/data/images/background.png);

}

QLabel {color: white;}

QListView {
    background-attachment: scroll;
    background-color: #47b8f3;
    border: none;
    color: white;
    show-decoration-selected: 1;

}

QListView::item:selected {
    border: 1px solid #2f86b1;
    border-radius: 3px;
}

QListView::item:hover {
    background-color: #42b3ee;
}

#group_box {
    background-color: #47b8f3;
    color: white;
    border: 1px solid #2f86b1;
    border-radius: 3px;


}

#group_box:title {
    subcontrol-origin: margin;
    subcontrol-position: top center; /* position at the top center */
    padding: 0 3px;
    border-top: 1px solid #2f86b1;
    font-weight: bold;
    color: white;
    /*background-color: qlineargradient(spread:pad, x1:0.495, y1:0, x2:0.486, y2:1, stop:0 rgba(53, 122, 255, 245), stop:0.5 rgba(41, 133, 235, 225), stop:1 rgba(0, 170, 255, 91));*/
}
#group_box::indicator {
    width: 13px;
    height: 25px;
}
#push_button {
    background-color: #47b8f3;
    border: 1px solid #2f86b1;
    border-radius: 3px;
    min-width: 90px;
    min-height: 25px;
    color: white;
}
#push_button:hover {
    background-color: #42b3ee;
}
#push_button:pressed {
    background-color:#2f86b1;
}

#radio_button {
    background-color: #47b8f3;
    color: white;
}

#check_box {
    background-color: #47b8f3;
    color: white;
}

#combo_box {
    background-color: #47b8f3;
    border: 1px solid #2f86b1;
    border-radius: 3px;
    padding: 1px 18px 1px 3px;
    min-height: 25px;
    color: white;
}

#combo_box::drop-down {
    border-width: none;
}

#combo_box::down-arrow {
    image: url(:/data/images/arrow-down.png);
}

#spin_box {
    background-color: #47b8f3;
    border: 1px solid #2f86b1;
    border-radius: 3px;
    min-height: 25px;
    color: white;
}

#spin_box::up-arrow {
    image: url(:/data/images/arrow-up.png);
    width: 7px;
    height: 7px;
}

#spin_box::up-button {
    border-width: none;
}

#spin_box::down-button {
    border-width: none;
}

#spin_box::down-arrow {
    image: url(:/data/images/arrow-down.png);
    width: 7px;
    height: 7px;
}


#tabWidget::pane {
    position: absolute; border: none;
    /*top: -0.5em;*/
}

#tabWidget::tab-bar {
    alignment: center;
}

#tabWidget > QTabBar::tab {
    border: 1px solid #2f86b1;
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    min-width: 20px;
    padding: 2px;
}

#tabWidget > QTabBar::tab:hover {
    background-color: #42b3ee;
}

#tabWidget > QTabBar::tab:selected {
    background-color: #2f86b1;
    border-color: #2f86b1;
}

